extends layout

block content
    form.form(action='', method='POST')
        .field
            label(for='name') Name:
            input(type='text', placeholder='Name of the category', name='name', value=(category === undefined ? '' : category.name))
        .field
            label(for='description') Description:
            textarea(placeholder="Description of the crypto",name="description",  cols="30",rows="10") #{category === undefined ? '' : category.description}
    
        button(type='submit') #{action}
