extends layout

block content
  main
    -category_list.forEach((category) => {
      a(href=category.url) 
        .card.indexCard
          if category.image 
            img(src=category.image)
          h2= category.name 
          p= category.description
          
    -})
      .card
        a(href='catalog/category/create')
            include ../public/images/plus.svg
            
          
