extends layout

block content
  main
    -category_list.forEach((category) => {
      a(href=category.url)
        console.lof(category.url) 
        .card
          h2= category.name 
          p= category.description
          
    -})
